/*
Theme Name:   Web4SL Child Theme
Theme URI:    https://flexlinetheme.com/
Author:       Joel Schlotterer
Author URI:   https://websitesforseniorliving.com
Description:  A child theme for the Flexline theme.
Template:     flexline
Version:      1.0.0
Text Domain:  web4sl
 __        __   _     _  _    ____  _     
 \ \      / /__| |__ | || |  / ___|| |    
  \ \ /\ / / _ \ '_ \| || |_ \___ \| |    
   \ V  V /  __/ |_) |__   _| ___) | |___ 
    \_/\_/ \___|_.__/   |_|  |____/|_____|

*/

/* Custom CSS can go below this line. */
header.site-header.headroom--pinned.headroom--not-top {
    /* Set custom background color for sticky nav. 
    background-color: #00000053;
    */
    backdrop-filter: blur(10px) saturate(70%);
    -webkit-backdrop-filter: blur(10px) saturate(70%);
}